.box-header{
	background: #F8F8FF;
}

.form-group .form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

.form-horizontal .control-label {
	text-align: left;
	margin-left: -15px;
}

.form-horizontal .form-group{
	margin-bottom: 4px;
}

.pagination {
    float: left;
    font-size: 12px;
}

input.numeric{
    text-align: right !important;
}